.goBack{
            position: absolute;
            top: -8%;
            right: 2%;
            width: 10%;
            height: 5%;
            background-color: aliceblue;
            font-size: 26px;
            border: none;
            cursor: pointer;
            border-radius: 7px;
            text-align: center;
            color: black;
            z-index: 10;
}

 .goBack:hover {
            background-color: #f9e8af;
            color: black;
        }

.us {
    
    text-align: center;
    position: absolute;
    left: 0;
    top:50%;
 
    right: 0;
    margin: auto;
    background-image: url(./images/us.png);
    width: 30%;
    height: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    
}

.alex{
    color: dodgerblue;  
    font-weight: 600;
    font-size: 2em;
}

.ben{
    color:teal;  
    font-weight: 600;
    font-size: 2em;
}
.aboutPage{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
/*    background-color: aqua;*/
    
}